---
// import astroLogo from '../assets/astro.svg';
// import background from '../assets/background.svg';
import { FiberScene } from './Fiber/FiberScene';
---

<div class="w-full h-full">
	<FiberScene client:load></FiberScene>
	<div class=" absolute bottom-0 left-0 flex justify-center w-full">

		<div class=" bg-white rounded-t-2xl py-3 px-3">
			<a href="https://wa.me/64141537" target="_blank" class="mr-2">
			<button class=" cursor-pointer p-3 bg-[#1da41d] text-white rounded-2xl">Whatsapp</button>
		</a>
		<a href="https://www.linkedin.com/in/wonglok831" target="_blank" class="mr-2">
			<button class=" cursor-pointer p-3 bg-[#1f6be5] text-white rounded-2xl">LinkdeIn</button>
		</a>
		<a href="/wonglok.vcf" target="_blank" download="WONG_LOK.vcf">
			<button class=" cursor-pointer p-3 bg-[#1fd1e5] text-white rounded-2xl">vCard</button>
		</a>
		<a href="https://work-with.wonglok.com" target="_blank">
			<button class=" cursor-pointer p-3 bg-[#e51fd8] text-white rounded-2xl">Portfolio</button>
		</a>
		</div>
	</div>
</div>