---
// import astroLogo from '../assets/astro.svg';
// import background from '../assets/background.svg';
import { FiberScene } from './Fiber/FiberScene';
---

<div class="w-full h-full">
	<FiberScene client:load></FiberScene>
	<div class=" absolute top-0 left-0 p-3 bg-white">

		<a href="https://wa.me/64141537" target="_blank" class="mr-2">
			<button class=" cursor-pointer p-3 bg-[#1da41d] text-white">Whatsapp</button>
		</a>
		<a href="https://www.linkedin.com/in/wonglok831" target="_blank">
			<button class=" cursor-pointer p-3 bg-[#1f6be5] text-white">LinkdeIn</button>
		</a>
	</div>
</div>

<!-- <style>
</style> -->
