---
// import astroLogo from '../assets/astro.svg';
// import background from '../assets/background.svg';
import { FiberScene } from './Fiber/FiberScene';
---

<div class="w-full h-full">

	<FiberScene client:load></FiberScene>
	
</div>

<!-- <style>
</style> -->
